# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Logs
logs/*.log
*.log

# Databases (Local)
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
.DS_Store

# Local Configuration (Keep default.yaml but maybe ignore custom sensitive ones)
# config/local.yaml 
